/*change background colour */
body {
    background-color: lavender;
}
/*main container */
.container {
    padding-top: 2%;
    background-color: #ADD8E6;
    width: 85%;
    margin: auto;
    padding-bottom: 5%;
    border-radius: 15px;
    min-width: 400px;
}
/*title text */
.title {
    text-align: center;
    padding-bottom: 10px;
}
/*paragraph styles */
.instruct {
    padding-left: 5%;
    padding-bottom: 1%;
    border-bottom: 2px solid grey;
}
/* password generator box */
.generator-box {
    width: 70%; 
    background-color: white;
    margin: auto;
}
.sub-title {
    padding-top: 5%;
    padding-left: 5%;
}
/*password output div styles */
.pass-hold {
    text-align: center;
    padding-top: 1%;
    border: 2px dashed black;
    border-radius: 25px;
    height: 150px;
    width: 60%;
    margin: auto;
    margin-bottom: 5%;
}
.pass-div {
    text-align: center;
    margin: auto;
}
/* generate button styles */
.button {
    background-color: #6200EE;
    border: none; 
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    margin-top: 20px;
}
.button-div {
    text-align: center;
    padding-bottom: 10px;
}
/* output styles */
.result {
    background-color: lavender;
    overflow-wrap: break-word;
}
/*copy button styles */
.button-copy {
    background-color: grey;
    border: none; 
    color: white;
    padding: 5px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

/* extend password box height when window is under 1000px*/
@media only screen and (max-width: 1000px) {
    .pass-hold {
        height: 250px;
    }
}